<template>
    <div>
        <v-card v-if="blog.id" style="margin 5px;padding:10px;">
                <v-card-title
                      class="fill-height align-end"
                      v-text="blog.title">
                      </v-card-title>
                  <v-img
                :src="blog.photo ? apiDomain + blog.photo: 'https://picsum.photos/200/300'"
                class="white--text"
                height="200"

              >

              </v-img>
            <v-card-text>
                {{ blog.description }}
            </v-card-text>
        </v-card>
    </div>
</template>

<script>
export default{
    data:()=>({
        blog:{},
        apiDomain:'https://demo-api-vue.sanbercloud.com'

    }),
    methods:{
        go(){
            let { id } =this.$route.params;

            const config={
                method:'get',
                url:`${this.apiDomain}/api/v2/blog/${id}`
            }

            this.axios(config)
            .then(respone => {
                let{ blog } =respone.data;
                this.blog=blog;
            })
            .catch(error => {
                console.log(error);
            })
        }
    },
    created(){
        this.go();
    }

}
</script>
