<template>
  <v-container class="ma-0 pa-0" grid-list-sm> 
    <div class="text-right" style="text-align:right;">
      <v-btn small text to="/blogs" class="blue--text">
        All Blogs <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </div>
    <v-carousel
        cycle
        wrap
        hide-delimiter-background
        show-arrows-on-hover
      >
      <blog-item-component v-for="blog in blogs" :key="`blog-${blog.id}`" :blog="blog" ></blog-item-component>
    </v-carousel>
    
  </v-container>
  
</template>
<script>
import BlogItemComponent from '../components/CarouselItemComponent.vue';
import {mapGetters, mapMutations} from 'vuex'
export default{

  data:() => ({
    apiDomain: 'https://demo-api-vue.sanbercloud.com',
    blogs:[],
  }),
  components:{
    'blog-item-component':BlogItemComponent
  },
  computed:{
    // count(){
    //   return this.$store.getters.count
    // }

   ...mapGetters({
    
    })
  },
  methods:{
    go(){
        console.log(this.$store.state.count)
        const config={
          method : 'get',
          url : this.apiDomain +'/api/v2/blog/random/4'
        }

        this.axios(config)
          .then(response =>{
            let { blogs } =response.data;
            this.blogs=blogs;
            console.log(this.blogs)
          })
          .catch(error=>{
            console.log(error)
          })
      },
      // increment(payload){
      //   this.$store.commit('increment',payload)
      // }
      ...mapMutations({
        
      })
    
  },
  created(){
    this.go();
  }
    
};
</script>

