
<template>

 <div>
   <dialog-component>
  </dialog-component>
  <alert></alert>
  <v-card  style="margin 5px;padding:10px;">
        <v-card-title>
          List Data Blog
        </v-card-title>
        <v-btn
              color="primary"
              dark
              class="mb-2"
              style="margin-left:10px"
              @click="insertBlog"
            >
              Add New Blog
            </v-btn>
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">
                  Image
                </th>
                <th class="text-left">
                  Title
                </th>
                <th class="text-left">
                  Description
                </th>
                <th class="text-left">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="item in blogs"
                :key="item.name"
              >
                <td><v-img
                      max-height="150"
                      max-width="250"
                      :src="item.photo ? apiDomain + item.photo: 'https://picsum.photos/200/300'"
                    ></v-img></td>
                <td>{{ item.title }}</td>
                <td>{{ item.description }}</td>
                <td>
                   <v-icon
                        small
                        class="mr-2"
                        @click="editItemUpload(item);"
                      >
                        mdi-upload
                      </v-icon>
                      <v-icon
                        small
                        class="mr-2"
                        @click="editItem(item)"
                      >
                        mdi-pencil
                      </v-icon>
                      <v-icon
                        small
                        @click="deleteItem(item)"
                      >
                        mdi-delete
                      </v-icon>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
    </v-card>
     <v-pagination
      v-model="page"
      @input="go"
      :length="lengthPage"
      :total-visible="perPage"
    ></v-pagination>
     <v-dialog v-model="dialogDelete" :retain-focus="false" max-width="500px">
        <v-card>
          <v-card-title class="text-h6">Are you sure you want to delete this blog data?</v-card-title>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
            <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="dialogData" :retain-focus="false" max-width="500px">
           <v-card>
               <v-card-title>
                <span class="text-h5">{{ formTitle }}</span>
              </v-card-title>
              <v-divider></v-divider>
                  <v-container fluid>

                        <validation-observer
                              ref="observer"
                              v-slot="{ invalid }"
                          >
                          <form @submit.prevent="submit">
                        <div v-if='uploadPhotoStatus==false'>
                          <validation-provider
                              v-slot="{ errors }"
                              name="Title"
                              rules="required"
                          >
                              <v-text-field
                              v-model="title"
                              :error-messages="errors"
                              label="Title"
                              ></v-text-field>
                          </validation-provider>
                          <validation-provider
                              v-slot="{ errors }"
                              name="description"
                              rules="required|min:20"
                          >

                                <v-textarea
                                  v-model="description"
                                  :error-messages="errors"
                                  label="Description"
                                ></v-textarea>
                          </validation-provider>
                          </div>


                          <div v-if='editedIndex==-1 || uploadPhotoStatus==true' >
                              <v-text-field label="Select Image" @click='pickFile' v-model='imageName' prepend-icon='mdi-camera'></v-text-field>
                              <input
                                type="file"
                                style="display: none"
                                ref="image"
                                accept="image/*"
                                @change="onFilePicked"
                              >
                          </div>
                          <v-btn
                              class="mr-4"
                              type="submit"
                              :disabled="invalid"
                          >
                              submit
                          </v-btn>
                          <v-btn @click="closeData">
                              Cancel
                          </v-btn>
                          </form>
                      </validation-observer>
                  </v-container>
          </v-card>
      </v-dialog>
</div>

</template>
<script>
import { required, email, max, regex,min } from 'vee-validate/dist/rules'
import { extend, ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
import { mapActions, mapGetters } from 'vuex';

setInteractionMode('eager')

  extend('required', {
    ...required,
    message: '{_field_} can not be empty',
  })

  extend('max', {
    ...max,
    message: '{_field_} may not be greater than {length} characters',
  })
  extend('min', {
    ...min,
    message: '{_field_} must be greater than {length} characters',
  })

  extend('regex', {
    ...regex,
    message: '{_field_} {_value_} does not match {regex}',
  })

  extend('email', {
    ...email,
    message: 'Email must be valid',
  })

import Alert from '@/components/Alert.vue'
import Dialog from '@/components/Dialog.vue'
export default{

  data:() => ({
    apiDomain: 'https://demo-api-vue.sanbercloud.com',
    blogs:[],
    dialogDelete: false,
    page:0,
    lengthPage:0,
    perPage:0,
    headers: [
          { text: 'Image', value: 'photo' },
          { text: 'Title', value: 'title' },
          { text: 'Description', value: 'description' },
        ],
    editedIndex:-1,
    dialogData:false,
    imageName : '',
    imageFile : '',
    imageUrl :'',
    title: '',
    description: '',
    rules_img: [
      value => !value || value.size < 5000000 || 'Photo Porifle size should be less than 5 MB!',
    ],
    uploadPhotoStatus:false
  }),
  components:{
    'alert':Alert,
      'dialog-component':Dialog,
      ValidationProvider,
      ValidationObserver
  },
  computed:{
    ...mapGetters({
        token:'auth/token'
    }),
    formTitle () {
      return this.editedIndex === -1 ? 'Add New Blog' : this.uploadPhotoStatus ? 'Upload Photo' : 'Edit Blog'
    },
  },
  watch: {

      dialogDelete (val) {
        val || this.closeDelete()
      },
    },
  methods:{
      insertBlog(){
         this.dialogData = true
      },
      ...mapActions({
            setAlert    : 'alert/set',
            setDialogComponent : 'dialog/setComponent',
            checkToken:'auth/checkToken'

        }),
     deleteItemConfirm () {
        let id=this.editedIndex;

        const config={
                headers:{
                  'Authorization':'Bearer' + this.token,
                },
                method : "post",
                url : `${this.apiDomain}/api/v2/blog/${id}`,
                params : {_method : "DELETE",}
        }

        this.axios(config)
            .then((respone)=> {
                 this.setAlert({
                          status:true,
                          color:'error',
                          text:"Delete "+respone.data.message,
                      })
                this.editedIndex=-1;
                this.go(this.page);
            })
            .catch(()=>{
                this.setAlert({
                          status:true,
                          color:'error',
                          text:'Gagal Hapus Data',
                      })

                this.editedIndex=null;
            })


        this.closeDelete()
      },
     deleteItem (item) {
        this.editedIndex=item.id;
        this.dialogDelete = true
      },
     closeDelete () {
        this.dialogDelete = false
        this.clear()
      },
    go(){
      const config={
        method : 'get',
        url : this.apiDomain +'/api/v2/blog?page='+this.page,
      }

      this.axios(config)
      .then(response =>{
        let { blogs } =response.data;
        this.blogs=blogs.data;
        this.page=blogs.current_page
        this.lengthPage=blogs.last_page
        this.perPage=blogs.per_page
      })
      .catch(error=>{
        console.log(error)
      })
    },
    editItem(item){
      this.editedIndex=item.id;
      this.dialogData=true;
      this.title=item.title;
      this.description=item.description;

    },
    submit () {


          let formData = new FormData()
          formData.append("title", this.title)
          formData.append("description", this.description)


          if(this.editedIndex==-1){
               const config={
                headers:{
                  'Authorization':'Bearer' + this.token,
                },
                method:"post",
                url: this.apiDomain+"/api/v2/blog",
                data : formData,

            };

            this.axios(config)
                .then((response)=>{
                    console.log(response.data)
                    this.uploadPhoto('Blog Berhasil diinput dan',response.data.blog.id)
                })
                .catch((response)=>{
                    console.log(response)

                     this.setAlert({
                        status:true,
                        color:'error',
                        text:'BLOG Gagal di input',
                    })
                })

          }else{
            if(this.uploadPhotoStatus){

              this.uploadPhoto('',this.editedIndex);
            }else{
                  const config={
                  headers:{
                    'Authorization':'Bearer' + this.token,
                  },
                  method:"post",
                  url: this.apiDomain+`/api/v2/blog/${this.editedIndex}?_method=PUT`,
                  data : formData,

              };

              this.axios(config)
                  .then((response)=>{
                      console.log(response.data)
                      this.clear();
                      this.go(this.page);
                      this.setAlert({
                          status:true,
                          color:'error',
                          text:'BLOG berhasil di ubah',
                      })
                  })
                  .catch((response)=>{
                      console.log(response)

                      this.setAlert({
                          status:true,
                          color:'error',
                          text:'BLOG Gagal di ubah',
                      })
                  })

            }
             this.closeData();
          }

      },
      uploadPhoto(text_message,id){
          let formData = new FormData()

          formData.append("photo", this.imageFile)

          const config={
              headers:{
                  'Authorization':'Bearer' + this.token,
                },
                method:"post",
                url: this.apiDomain+`/api/v2/blog/${id}/upload-photo`,
                data : formData
            };

            this.axios(config)
                .then((response)=>{
                    console.log(response.data)
                    this.setAlert({
                        status:true,
                        color:'success',
                        text:text_message+' Upload Photo Berhasil',
                    })
                    this.closeData()
                    window.location.reload()
                })
                .catch((response)=>{
                    console.log(response)

                     this.setAlert({
                        status:true,
                        color:'error',
                        text:text_message+' Upload Photo Gagal',

                    })
                     this.closeData()
                     window.location.reload()
                })
      },
      clear () {
        this.title = ''
        this.description = ''
        this.imageName = ''
        this.imageFile = ''
        this.imageUrl = ''
        this.editedIndex=-1;
        this.uploadPhotoStatus=false;
      },
      onFilePicked(e) {

          const files = e.target.files
          if (files[0] !== undefined) {
            this.imageName = files[0].name
            if (this.imageName.lastIndexOf('.') <= 0) {
              return
            }
            const fr = new FileReader()
            fr.readAsDataURL(files[0])
            fr.addEventListener('load', () => {
              this.imageUrl = fr.result
              this.imageFile = files[0] // this is an image file that can be sent to server...
              console.log(this.imageFile)
            })
          } else {
            this.imageName = ''
            this.imageFile = ''
            this.imageUrl = ''
          }
      },
      pickFile() {
        this.$refs.image.click()
      },
      closeData(){
        this.clear();
        this.dialogData=false;
      },
      editItemUpload(data){
        this.uploadPhotoStatus=true
        this.dialogData=true
        this.editedIndex=data.id
      }



  }
  ,
  created(){
    this.go()
  },mounted(){
    this.go()
  }
};
</script>
