<style lang="scss">
.cardColor {
   background-color: rgba(255, 255, 255, 0.5) !important;
   border-color: white !important;
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
   font: 900;
 }
</style>
<template>
      
                <v-carousel-item
                        :src="blog.photo ? apiDomain + blog.photo: 'https://picsum.photos/200/300'"
                        reverse-transition="fade-transition"
                        transition="fade-transition"
                        :to="'/blog/' +blog.id"
                >
                    <v-container
                      fill-height
                      fluid
                      pa-0 ma-0 pb-3 

                    >
                      <v-layout fill-height align-end pb-4 mb-4>
                        <v-flex xs12>
                          <v-card color="Title" class="pa-2 cardColor">
                             <span class="" v-text="blog.title"></span>
                          </v-card>
                        </v-flex>
                      </v-layout>
                    </v-container>
                </v-carousel-item>
      
</template>

<script>
    export default{
        data:()=>(
            {
                apiDomain: 'https://demo-api-vue.sanbercloud.com',
            }
        ),
        colors: [
          'indigo',
          'warning',
          'pink darken-2',
          'red lighten-1',
          'deep-purple accent-4',
        ],
        props: ['blog']
    }
</script>
