<template>
    <v-card>
        <v-toolbar dark color="black">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Login</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
            <v-container fluid>
                <v-form ref="form">
                    <v-text-field
                        v-model="email"
                        label="E-mail"
                        autofocus
                        :rules="[rules.required, rules.email]"
                        append-icon="mdi-email"
                    ></v-text-field>
                    <v-text-field
                        v-model="password"
                        :append-icon="showPassword ?'mdi-eye' :'mdi-eye-off'"
                        :type="showPassword?'text':'password'"
                        :rules="[rules.required]"
                        label="Password"
                        counter
                        @click:append="showPassword = !showPassword"
                    >
                    </v-text-field>

                    <div class="text-xs-center">
                        <v-btn
                            color="grey lighten-1"
                            @click="submit"
                        >Login
                        <v-icon right dark>mdi-lock-open</v-icon>
                        </v-btn>
                    </div>
                </v-form>
            </v-container>
    </v-card>
</template>

<script>
import {mapActions} from 'vuex'
export default{
    data(){
        return{
            email:'',
            showPassword:false,
            password:'',
            rules: {
                    required: value => !!value || 'Required.',
                    email: value => {
                        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                        return pattern.test(value) || 'Invalid e-mail.'
                    },
            },
            apiDomain: "https://demo-api-vue.sanbercloud.com"
        }
    },
    methods :{
        close(){
            this.$emit('closed',false)
        },
         ...mapActions({
            setAlert    : 'alert/set',
            setToken    : 'auth/setToken'
        }),
        submit(){

            const config={
                method:"post",
                url: this.apiDomain+"/api/v2/auth/login",
                data : {
                    'email':this.email,
                    'password':this.password
                }
            };

            this.axios(config)
                .then((response)=>{
                    console.log(response.data)
                    this.setToken(response.data.access_token)
                    this.setAlert({
                        status:true,
                        color:'success',
                        text:'Login Berhasil',
                    })
                    this.close()
                })
                .catch((response)=>{
                    console.log(response)

                     this.setAlert({
                        status:true,
                        color:'error',
                        text:'Login Gagal',
                    })
                })
        }
    }
}
</script>
