<template>
    <v-card>
        <v-toolbar dark color="black">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Register Account</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
            <v-container fluid>
               <validation-observer
                    ref="observer"
                    v-slot="{ invalid }"
                >
                    <form @submit.prevent="submit">
                    <validation-provider
                        v-slot="{ errors }"
                        name="Name"
                        rules="required|max:20"
                    >
                        <v-text-field
                        v-model="name"
                        :counter="20"
                        :error-messages="errors"
                        label="Name"
                        required
                        ></v-text-field>
                    </validation-provider>
                    <validation-provider
                        v-slot="{ errors }"
                        name="email"
                        rules="required|email"
                    >
                        <v-text-field
                        v-model="email"
                        :error-messages="errors"
                        label="E-mail"
                        required
                        ></v-text-field>
                    </validation-provider>
                    <validation-provider
                        v-slot="{ errors }"
                        name="select"
                        rules="required"
                    >
                        <v-text-field
                          v-model="password"
                          :append-icon="showPassword ?'mdi-eye' :'mdi-eye-off'"
                          :type="showPassword?'text':'password'"
                          required
                          :error-messages="errors"
                          label="Password"
                          counter
                          @click:append="showPassword = !showPassword"
                      >
                      </v-text-field>
                    </validation-provider>
                    <validation-provider
                        v-slot="{ errors }"
                        name="select"
                        rules="required"
                    >
                        <v-text-field
                          v-model="password2"
                          :append-icon="showPassword2 ?'mdi-eye' :'mdi-eye-off'"
                          :type="showPassword2?'text':'password'"
                          required
                          :error-messages="errors"
                          label="Confirm Password"
                          counter
                          :rules="[(password === password2) || 'Password must match']"
                          @click:append="showPassword2 = !showPassword2"
                      >
                      </v-text-field>
                    </validation-provider>

                    <!--<v-file-input
                      @change="Preview_image"
                      v-model="image"
                      name="photo"
                      ref="photo"
                      >
                    </v-file-input>
                    <v-img :src="url"
                          :rules="rules_img"
                          prepend-icon="mdi-camera"
                          accept="image/png, image/jpeg, image/bmp"
                          placeholder="Pick an photo profil"
                          label="Photo Profil"
                          height="200"
                          width="200"
                           ref="image"
                          style="margin-left:40px;margin-bottom:20px"
                    ></v-img>-->
                     <v-text-field label="Select Image" @click='pickFile' v-model='imageName' prepend-icon='mdi-camera'></v-text-field>
                    <input
                      type="file"
                      style="display: none"
                      ref="image"
                      accept="image/*"
                      @change="onFilePicked"
                    >

                    <v-btn
                        class="mr-4"
                        type="submit"
                        :disabled="invalid"
                    >
                        submit
                    </v-btn>
                    <v-btn @click="clear">
                        clear
                    </v-btn>
                    </form>
                </validation-observer>
            </v-container>
    </v-card>
</template>

<script>
import { required, email, max, regex } from 'vee-validate/dist/rules'
  import { extend, ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
import {mapActions} from 'vuex'
  setInteractionMode('eager')

  extend('required', {
    ...required,
    message: '{_field_} can not be empty',
  })

  extend('max', {
    ...max,
    message: '{_field_} may not be greater than {length} characters',
  })

  extend('regex', {
    ...regex,
    message: '{_field_} {_value_} does not match {regex}',
  })

  extend('email', {
    ...email,
    message: 'Email must be valid',
  })

  export default {
    components: {
      ValidationProvider,
      ValidationObserver,
    },
    data: () => ({

      imageName : '',
      imageFile : '',
      imageUrl :'',
      name: '',
      email: '',
      password:'',
      password2:'',
      showPassword:false,
      showPassword2:false,
      rules_img: [
        value => !value || value.size < 5000000 || 'Photo Porifle size should be less than 5 MB!',
      ],
      apiDomain: "https://demo-api-vue.sanbercloud.com",

    }),

    methods: {
       ...mapActions({
            setAlert    : 'alert/set',
            setToken    : 'auth/setToken'
        }),
        close(){
        this.$emit('closed',false)
    },
      submit () {
        //this.$refs.observer.validate()
         //let file =this.image
        let formData = new FormData()

         formData.append("photo_profile", this.imageFile)
         formData.append("name", this.name)
         formData.append("email", this.email)
          formData.append("password", this.password)

         //console.log(file)
        // die;

        const config={
                method:"post",
                url: this.apiDomain+"/api/v2/auth/register",
                data : formData
            };

            this.axios(config)
                .then((response)=>{
                    console.log(response.data)
                    this.setAlert({
                        status:true,
                        color:'success',
                        text:'Data Berhasil teregistrasi',
                    })
                    this.close()
                })
                .catch((response)=>{
                    console.log(response)

                     this.setAlert({
                        status:true,
                        color:'error',
                        text:'Data Gagal teregistrasi',
                    })
                })
      },
      clear () {
        this.name = ''
        this.email = ''
        this.password = ''
        this.password2=''
        this.$refs.photo.value=null;
        this.$refs.observer.reset()
      },
      onFilePicked(e) {

          const files = e.target.files
          if (files[0] !== undefined) {
            this.imageName = files[0].name
            if (this.imageName.lastIndexOf('.') <= 0) {
              return
            }
            const fr = new FileReader()
            fr.readAsDataURL(files[0])
            fr.addEventListener('load', () => {
              this.imageUrl = fr.result
              this.imageFile = files[0] // this is an image file that can be sent to server...
              console.log(this.imageFile)
            })
          } else {
            this.imageName = ''
            this.imageFile = ''
            this.imageUrl = ''
          }
      },
      pickFile() {
        this.$refs.image.click()
      }
    },
  }
</script>
